<%- include('header'); -%>
    <title>NAPSChat</title>
    <script src="https://kit.fontawesome.com/1476e3f427.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/css/chat.css" rel="stylesheet">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-lg fa-scroll"></i>NAPSChat</a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span  style ="color: #FFF;"class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="addbutton navbar-nav ms-auto me-2 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button id="changeusername" style="background-color: transparent; border:0;"><a class="nav-link"
                                aria-current="page" href="#">
                                <%= username %>
                            </a></button>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    </head>

    <body>
        <section id="padbody">
            <div class="row">
                <div class="col col-mds col-lg-3 recentsection">
                    <div class="card">
                        <div class="card-header"><b>Chats</b></div>
                        <div class="card-body" id="prevchats">
                            
                        </div>

                        <div><button class="f" data-bs-toggle="modal" data-bs-target="#ModalToggle"><img class="plusicon"src="https://github.com/pb1705/Images/blob/main/android-chrome-192x192.png?raw=true"></button></div>



                    </div>
                </div>
                <div class="col  chatsection">
                    <div class="card">
                        <div id="namechat" class="card-header">Start a chat</div>
                        <div id="history" class="card-body">
                            <div class="removed">
                            <i class="fa-solid fa-2xl fa-scroll"></i><br>
                            <p>NAPSChat</p>
                            <p>Open the menu to start a new chat</p>
                        </div>
                        </div>
                        <div id="inputmsg"></div>
                    </div>
                </div>
            </div>
            <div id="storemodals">
                <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                    tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Select the type of Chat
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li type="none"><a data-bs-dismiss="modal" id="randomchat" href="#"
                                            style="text-decoration: none; color:black;">
                                            <button type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                                style="border-color: #111b21; border-width: 2px; margin-bottom: 12px;">Random
                                                Chat</button>
                                        </a>
                                        <a data-bs-target="#ModalToggle2" data-bs-toggle="modal" href="#"
                                            style="text-decoration: none; color:black;">
                                            <button type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                                style="border-color: #111b21; border-width: 2px; margin-bottom: 12px; margin-left: 30px;">Create
                                                Group</button>
                                        </a>
                                    </li>
                                    <li type="none"><a data-bs-target="#ModalToggle3" data-bs-toggle="modal" href="#"
                                            style="text-decoration: none; color:black;">
                                            <button type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                                style="border-color: #111b21; border-width: 2px; margin-bottom: 12px;">Personal
                                                Chat</button>
                                        </a>
                                        <a data-bs-target="#ModalToggle4" data-bs-toggle="modal" href="#"
                                            style="text-decoration: none; color:black;">
                                            <button type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                                style="border-color: #111b21; border-width: 2px; margin-bottom: 12px; margin-left: 30px;">Join
                                                Group</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
                    tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Enter the name of the
                                    group</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Your Email
                                        address</label>
                                    <input type="email" name="adminemail" class="form-control"
                                        id="groupadminusertocreate" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with
                                        anyone else.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Group Name</label>
                                    <input type="text" name="groupname" class="form-control" id="groupnametocreate">
                                </div>

                                <button id="creategroup" type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                    style="border-color: #111b21; border-width: 2px;">Create Group</button>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
                    tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Enter the detials of the
                                    person you want to text</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="oppositterperson" class="form-label">Their Email
                                        address</label>
                                    <input type="email" name="adminemail" class="form-control" id="oppositterperson"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share their email with
                                        anyone else.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Name of the
                                        Person</label>
                                    <input type="text" name="nameoftheperson" id="oppisitterpersonname" class="form-control"
                                        id="exampleInputPassword1">
                                </div>

                                <button id="personalcahtbtn" type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                    style="border-color: #111b21; border-width: 2px;">Chat</button>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
                    tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Enter the details of the
                                    group you want to join</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Enter the Email
                                        address of admin</label>
                                    <input type="email" name="adminemail" class="form-control" id="adminemailjoin"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share their email with
                                        anyone else.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Name of the
                                        the Group</label>
                                    <input type="text" name="nameoftheperson" class="form-control"
                                        id="nameofthegroptojoin">
                                </div>

                                <button id="joingroup" type="submit" class="btn btn-cg" data-bs-dismiss="modal"
                                    style="border-color: #111b21; border-width: 2px;">Join Group</button>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
                    tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Chats</h1>
                                <button type="button" id="modal5close" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="modalprevchats">

                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <script src="/script.js/chat.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
                integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
                crossorigin="anonymous"></script>
            <a id="mymailid"style=" opacity:0; position: absolute;"><%= usermailid %></a>
        </section>
        <%- include('footer'); -%>