.col,.card,.row{
    min-height: 85vh;
    max-height: 85vh;
}
.card-header{
    font-size: 1.5rem;;
}
html {
    height: 100%;
  }
  body {
    min-height: 100vh;
     background-color:  #111b21;;
     /* color: #FFF; */
  }
#padbody{
    padding:0% 1% 2%;
    padding-top: 0.5%;
}
.nav{
    background-color:  rgba(252, 245, 235, .8);
    margin-bottom:2px;
    /* color: #FFF; */
}

.fa-plus{
    color: white;
}
.f{
    border-radius: 100%;
    float: right;
    background-color: transparent;
    border: none;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: right;
}
.plusicon{
    width:30%;
}

.btn-cg:hover{
    background-color: 	#111b21;
    color:#FFF;
}
.chat{

    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.msginputuser{
    padding-bottom: 0;;
}
.fa-paper-plane-top{
    color:black;
}
.sendbtn{
    background-color: transparent;
    border: none;
}
.right{
    float: right;
    clear: both;
    background-color: #12ee62;
    padding:1% 2%;
    border-radius: 5px;
    margin-bottom: 5px;;
    max-width: 25%;
}
.left{
    float: left;
    clear: both;
    background-color: #FFF;
    padding:1% 2%;
    border-radius: 5px;
    margin-bottom: 5px;;
    max-width: 25%;

}
@media screen and (max-width: 800px) {

    .right{
        max-width: 40%;
        padding: 0.75% 1.5%;
    }
    .left{
        max-width: 40%;
        padding: 0.75% 1.5%;
    }
}
@media screen and (max-width: 800px) {

    .right{
        max-width: 60%;
        padding: 0.5% 1.5%;
    }
    .left{
        max-width: 60%;
        padding: 0.25% 1.5%;
    }
}
.msgpara{
    margin-bottom: 0px;
}
#history{
    padding-top:4% ;
}
.chatsection{
    padding-left: 0px;;
}
.recentsection{
    padding-right: 0px;
}
.btn-nav-pushed{
    background-color: transparent; 
    border:0;
    padding: 8px;
}
#history,#prevchats{
    overflow-y: scroll;
}
.removed{
background-color: #F6F6F6;
 height: 100%; 
 text-align: center;
 margin:0;
  padding: 17% 40%;
}
@media screen and (max-width: 800px) {
    .removed{
    padding: 20% 20%;
    }
}

.navbar-toggler,.navbar-brand,.nav-link {
    color:#FFF;
}
.navbar-brand:hover{
    color: #FFF;
}
.nav-item:hover{
    color: #FFF;
}
.nav-link:hover{
    color:#FFF;
}
.btn-nav-pushed,.navbar-toggler-icon{
    color: #FFF!important;
    
}
